<a href="https://colab.research.google.com/github/Crliu4/supreme_court_verdict_predictor/blob/main/Midterm_Checkpoint_Supreme_Court_Verdict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Supreme Court Verdict Predictor 
### Maggie Chen, Carolyn Liu, Eujene Yum

Data Exploration

In [ ]:
!export LC_ALL=en_US.UTF-8 && pip install scikit-learn==1.1.3

In [ ]:
!pip install convokit
from convokit import Corpus, download, util

In [ ]:
corpus = Corpus(filename=download("supreme-2019"))

Dataset already exists at /root/.convokit/downloads/supreme-2019

In [ ]:
corpus.print_summary_stats()

Number of Speakers: 113
Number of Utterances: 13707
Number of Conversations: 58

In [ ]:
# DISREGARD ENTIRE CELL
# return random utterance
# utt = corpus.random_utterance()
# utt

# creating bow transformer on this utterance. column names showing up as indicies only rather than actual unigrams.
# from convokit import BoWTransformer
# bow_transformer = BoWTransformer(obj_type="utterance", vector_name="bow")
# bow_transformer.fit_transform(corpus)
# df = utt.get_vector("bow", as_dataframe=True)
# df



---



---

In [ ]:
from convokit import model, util

In [ ]:
# utterances into df
utts = model.conversation.Conversation.get_utterances_dataframe(corpus)

,timestamp,text,speaker,reply_to,conversation_id,meta.case_id,meta.start_times,meta.stop_times,meta.speaker_type,meta.side,meta.timestamp,vectors
id,,,,,,,,,,,,
24929__0_000,None,"We'll hear argument next in Case 18-877, Allen...",j__john_g_roberts_jr,None,24929,2019_18-877,[0.0],[6.84],J,None,0.0,[bow]
24929__0_001,None,"Mr. Chief Justice, and may it please the Court...",derek_l_shaffer,24929__0_000,24929,2019_18-877,"[6.84, 18.52, 49.56, 57.96, 74.16, 78.68, 92.8...","[18.52, 49.56, 57.96, 74.16, 78.68, 92.84, 108...",A,1,6.84,[bow]
24929__0_002,None,All -- all that is -- would be highly persuasi...,j__ruth_bader_ginsburg,24929__0_001,24929,2019_18-877,"[137.96, 148.36, 150.28, 151.88]","[148.36, 150.28, 151.88, 154.64]",J,None,137.96,[bow]
24929__0_003,None,"Correct, Justice Ginsburg.\nBut -- but the Cou...",derek_l_shaffer,24929__0_002,24929,2019_18-877,"[154.64, 155.72, 157.76, 159.64, 168.04, 169.0...","[155.72, 157.76, 159.64, 168.04, 169.08, 183.0...",A,1,154.64,[bow]
24929__0_004,None,In -- in --,j__ruth_bader_ginsburg,24929__0_003,24929,2019_18-877,[200.88],[200.92],J,None,200.88,[bow]
...,...,...,...,...,...,...,...,...,...,...,...,...
24969__2_007,None,-- has all sorts of meaning that you're not en...,j__sonia_sotomayor,24969__2_006,24969,2019_19-67,"[3496.8, 3500.32, 3502.96, 3504.68]","[3500.32, 3502.96, 3504.68, 3506.04]",J,None,3496.8,[bow]
24969__2_008,None,"No, Your Honor --",eric_j_feigin,24969__2_007,24969,2019_19-67,[3506.04],[3506.56],A,1,3506.04,[bow]
24969__2_009,None,-- altogether?,j__sonia_sotomayor,24969__2_008,24969,2019_19-67,[3506.56],[3507.76],J,None,3506.56,[bow]
24969__2_010,None,-- we are using the principles of complicity a...,eric_j_feigin,24969__2_009,24969,2019_19-67,"[3507.76, 3535.8]","[3535.8, 3536.32]",A,1,3507.76,[bow]
24969__2_011,None,"Thank you, counsel.\nThe case is submitted.",j__john_g_roberts_jr,24969__2_010,24969,2019_19-67,"[3536.32, 3537.28]","[3537.28, 0.0]",J,None,3536.32,[bow]

In [ ]:
# append conv win rate 
import pandas as pd
conv_df = model.corpus.Corpus.get_conversations_dataframe(corpus)
conv_df.reset_index(inplace = True)

In [ ]:
merged_df = utts.merge(conv_df, left_on='conversation_id', right_on='id')
final_df = merged_df[['conversation_id', 'text', 'meta.speaker_type', 'meta.side', 'meta.win_side']]

In [ ]:
final_df = final_df.loc[(final_df.loc[:,'meta.win_side'] == 1) | (final_df.loc[:,'meta.win_side'] == 0)]
final_df

,conversation_id,text,meta.speaker_type,meta.side,meta.win_side
0,24929,"We'll hear argument next in Case 18-877, Allen...",J,None,0
1,24929,"Mr. Chief Justice, and may it please the Court...",A,1,0
2,24929,All -- all that is -- would be highly persuasi...,J,None,0
3,24929,"Correct, Justice Ginsburg.\nBut -- but the Cou...",A,1,0
4,24929,In -- in --,J,None,0
...,...,...,...,...,...
13702,24969,-- has all sorts of meaning that you're not en...,J,None,1
13703,24969,"No, Your Honor --",A,1,1
13704,24969,-- altogether?,J,None,1
13705,24969,-- we are using the principles of complicity a...,A,1,1
13706,24969,"Thank you, counsel.\nThe case is submitted.",J,None,1

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
lst = final_df['text'].tolist()
len(lst)

12979

In [ ]:
vectorizer = CountVectorizer() # Convert a collection of text documents to a matrix of token counts.
X = vectorizer.fit_transform(lst)
feature_names = vectorizer.get_feature_names_out() # number of unigrams: 12869
X.toarray().shape # check

(12979, 12630)

In [ ]:
feature_names[-30:]

array(['yes', 'yeshiva', 'yesterday', 'yet', 'yield', 'yielded', 'york',
       'yorktown', 'yosemite', 'you', 'young', 'younger', 'your', 'yours',
       'yourself', 'youth', 'yow', 'yulee', 'zarda', 'zealand', 'zelman',
       'zenith', 'zero', 'zeroing', 'zillions', 'zipper', 'zones',
       'zoning', 'zooming', 'zubik'], dtype=object)

In [ ]:
input_matrix = pd.DataFrame.sparse.from_spmatrix(X)

In [ ]:
from sklearn.linear_model import LogisticRegression
# import sklearn.linear_model as skl_lm
from sklearn.metrics import confusion_matrix, classification_report, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [ ]:
# logistic regression
X_train, X_test, y_train, y_test = train_test_split(input_matrix, final_df['meta.win_side'], test_size = 0.2, random_state = 42)

# estimator
clf = LogisticRegression(random_state=42).fit(X_train, y_train.astype('int'))

# predict
preds = clf.predict(X_test)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
# accuracy 
sum(preds == y_test.astype('int'))/len(preds)

0.7565485362095532

In [ ]:
(preds == y_test.astype('int')).mean()

0.7565485362095532

In [ ]:
# Grid Seach CV
# Randomizer CV 
# for regularization (lambda) C, solvers,

In [ ]:
# tags 
# regularization 
# Models to try
#   SVM
#   random forest (can pick up top k important features. we can see which words are important)
#   use bigrams instead and repeat the models

WORK IN PROGRESS :)

In [ ]:
from convokit import BoWTransformer
bow_transformer = BoWTransformer(obj_type="utterance", vector_name="bow")
bow_transformer.fit_transform(corpus)
df = utt.get_vector("bow", as_dataframe=True)

Initializing default unigram CountVectorizer...Done.
WARNING: Vector matrix "bow" already exists. Overwriting it with newly set vector matrix.

/usr/local/lib/python3.9/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,000,10,100,1083,11,1182,12,122,1227,1246,...,yes,yet,york,you,your,yours,yourself,youth,zero,zipper
24952__1_012,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df.columns[0:10]

Index(['000', '10', '100', '1083', '11', '1182', '12', '122', '1227', '1246'], dtype='object')

* Utterances have text
* Conversations have win result
* tie the two together with conversation ID 
**bold text**

https://github.com/CornellNLP/ConvoKit/blob/master/examples/vectors/vector_demo.ipynb

https://convokit.cornell.edu/documentation/tutorial.html

In [ ]:
# type: justice J, advocate A or unknown U 
utt.meta

{'case_id': '2019_18-217',
 'start_times': [2399.6],
 'stop_times': [2400.2],
 'speaker_type': 'J',
 'side': None,
 'timestamp': 2399.6}

In [ ]:
convo = corpus.random_conversation()
convo.meta

{'case_id': '2019_18-1432',
 'advocates': {'paul_w_hughes': {'side': 1, 'role': 'for the Petitioner'},
  'matthew_guarnieri': {'side': 0, 'role': 'for the Respondent'}},
 'win_side': 1,
 'votes_side': {'j__john_g_roberts_jr': 1,
  'j__clarence_thomas': 0,
  'j__ruth_bader_ginsburg': 1,
  'j__stephen_g_breyer': 1,
  'j__samuel_a_alito_jr': 0,
  'j__sonia_sotomayor': 1,
  'j__elena_kagan': 1,
  'j__neil_gorsuch': 1,
  'j__brett_m_kavanaugh': 1}}

In [ ]:
# We use Switchboard's speakers as they have more interesting metadata
speaker = corpus.random_speaker()
print(speaker)
print()
speaker.meta

Speaker(id: elbert_lin, vectors: [], meta: {'name': 'Elbert Lin', 'type': 'A'})

{'name': 'Elbert Lin', 'type': 'A'}

Trying bag of word transformer|

In [ ]:
# The utterance does not have any vectors associated with it
utt.vectors

[]

In [ ]:
# The corpus does not have any vectors associated with it
corpus.vectors

{'bow'}

In [ ]:
from sklearn.feature_extraction import DictVectorizer
v = DictVectorizer(sparse=False)

In [ ]:
from convokit import Corpus, download
corpus = Corpus(filename=download("supreme-2019"))
utt = corpus.random_utterance()
bow_transformer = BoWTransformer(obj_type="utterance", vector_name="bow")
bow_transformer.fit_transform(corpus)
utt.get_vector("bow")
#utt.get_vector("bow", as_dataframe=True)

Dataset already exists at /root/.convokit/downloads/supreme-2019
Initializing default unigram CountVectorizer...Done.

<1x3360 sparse matrix of type '<class 'numpy.int64'>'
	with 13 stored elements in Compressed Sparse Row format>

In [ ]:
utt.get_vector("bow")

<1x3360 sparse matrix of type '<class 'numpy.int64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [ ]:
# We can get a more interpretable display of the vector as a dataframe
df = utt.get_vector("bow", as_dataframe=True)
df

,0,1,2,3,4,5,6,7,8,9,...,3350,3351,3352,3353,3354,3355,3356,3357,3358,3359
25004__0_021,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
df.columns

In [ ]:
bow_matrix=corpus.get_vector_matrix("bow")
bow_matrix.to_dataframe().head()

,0,1,2,3,4,5,6,7,8,9,...,3350,3351,3352,3353,3354,3355,3356,3357,3358,3359
24929__0_000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24929__0_001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
24929__0_002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24929__0_003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24929__0_004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
bow_matrix.columns[100:150]

array([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
       113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125,
       126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
       139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149])

In [ ]:
from convokit import ConvoKitMatrix